<html>

<head>
	<title>Pixi Hotwire</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes">

	<style>
		html,
		body {
			background-color: #444444;
			margin: 0;
			padding: 0;
			height: 100%;
			overflow: hidden;
		}

		#pixi-content {
			image-rendering: pixelated;
			margin: 2rem auto;
			width: auto;
  		height: auto;
			align-self: center;
		}


	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="pixi-content"><canvas id="pixi-canvas"></div>
</body>

</html>